body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  
}

h1 {
  font-size: 5rem;

}


footer {
  text-align: right;
  color: midnightblue;
  clear: left;
  margin-top: 20px;

}

p {
  font-size: 16px;
}




.tile-image {
  width: 299px;
  height: 200px;
  float: left;
  margin-right: 2rem;
}






div {
  display: block;
}

.me {
  display: flex;
  gap: 10rem;
}

.creative {
  color: midnightblue;
}

@media (min-width: 370px) and (max-width: 667px) {
  .logo {
    width: 100px;
    height: 17px;
  }

  h1  {
    font-size: 3.5rem;
    text-align: center;
  }

  .card img {
    width: 100%;
    display: inline;
    margin-bottom: 2rem;
  }

  .tile-image {
  height: 200px;

  }

  .me {
    display: inline;
  }

  p {
    font-size: 16px;
    text-align: justify;
  }
}

@media (min-width: 430px) and (max-width: 932px) {
  .logo {
    width: 100px;
    height: 17px;
  }

  h1  {
    font-size: 3.5rem;
    text-align: center;
  }

  .card img {
    width: 100%;
    display: inline;
    margin-bottom: 2rem;
  }

  .tile-image {
  height: 200px;

  }

  .me {
    display: inline;
  }

  p {
    font-size: 16px;
    text-align: justify;
  }
}

@media (min-width: 932px) and (max-width: 1336px) {
  .logo {
    width: 263px;
    height: 46px;
  }

  h1  {
    font-size: 5rem;
  
  }


  .tile-image {
  height: 200px;
  float: left;
  }

  .me {
    display: flex;
  }

  p {
    font-size: 16px;
  }
}